
[mysqladmin]
user=root

[mysqld]
basedir=/home/css/edx-edutech/mysql
datadir="/home/css/edx-edutech/mysql/data"
port=3306
socket=/home/css/edx-edutech/mysql/tmp/mysql.sock
tmpdir=/home/css/edx-edutech/mysql/tmp
max_allowed_packet=32M
bind-address=127.0.0.1
skip-name-resolve=1
expire_logs_days=7
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci

[client]
port=3306
socket=/home/css/edx-edutech/mysql/tmp/mysql.sock

default-character-set=utf8mb4
[manager]
port=3306
socket=/home/css/edx-edutech/mysql/tmp/mysql.sock
pid-file=/home/css/edx-edutech/mysql/tmp/manager.pid
default-mysqld-path=/home/css/edx-edutech/mysql/bin/mysqld.bin

